{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "last 2 Chrome versions",
          "node": "current"
        }
      },
      "react"
    ],
    [
      "@babel/react"
    ]
  ],
  "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
}
