html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
  width: 100%;
}

.databaseCards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20%;
  justify-content: center;
}

.dbCard {
  width: 170px;
  margin: 5px;
}

.migrationControllerContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.migrationController {
  display: flex;
  flex: 1 1;
  margin: 10px;
  justify-content: stretch;
}

.modelSelectorContainer {
  width: 20%;
  max-width: 500px;
  margin: 0px 20px 20px 20px;
  min-height: 50%;
  padding-right: 20px;
  border-right: thin solid grey ;
  min-width: 235px;
}

.modelSelector {
  max-height: 100%;
  overflow: auto;
}

.tableFormContainer {
  flex: 1 2 auto;
  overflow: auto;
}

.dbTitle {
  font-size: 2em;
  margin-bottom: 15px;
}

.addColumnForm {
  display: flex
}

.addColumnButton {
  height: 40px;
  max-width: 56px;
  align-self: flex-end;
  margin-right: 30px;
}

.addColTextField {
  align-self: flex-end;
  flex-grow: 1;
  max-width: 300px;
  margin-right: 50px;
  width: 40%;
}

.addColType {
  flex-grow: 1;
  margin-left: 100px;
}

.addModelContainer {
  display: flex;
}

.undoButton {
  margin-right: 10px;
}

.addModelButton {
  height: 40px;
}

#addModelText {
  width: 90px;
}

.splashContainer {
  height: 500px;
  width: 400px;
}

.splashImage {
  width: 100%;
  height: auto;
}

.addModelContainer {
  display: flex;
}

.addModelButton {
  height: 40px;
}

#addModelText {
  width: 70px;
}

.tableButtons {
  display: flex;
  justify-content: flex-end;
}

.deleteButton button {
  background-color: white !important;
  height: 30px !important;
  width: 30px !important;
}

.deleteButton svg {
  fill: red !important;
  height: 30px !important;
}

.cancelButton {
  margin-right: 10px;
}

td, th {
  text-align: center !important;
}


