html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
}

.databaseCards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20%;
  justify-content: center;
}

.dbCard {
  width: 170px;
  margin: 5px;
}

.migrationController {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.modelSelectorContainer {
  width: 20%;
  max-width: 500px;
  margin: 0px 20px 20px 20px;
  min-height: 50%;
  padding-right: 20px;
  border-right: thin solid grey ;
  min-width: 200px;
}

.tableFormContainer {
  width: 70%;
  flex: 0 1 auto;
}

.dbTitle {
  font-size: 2em;
  margin-bottom: 15px;
}

.addColumnForm {
  display: flex
}

.addColumnButton {
  height: 40px;
  max-width: 56px;
  align-self: flex-end;
  margin-right: 30px;
}

.addColTextField {
  align-self: flex-end;
  flex-grow: 1;
  max-width: 300px;
  margin-right: 50px;
}

.addColType {
  flex-grow: 1;
  margin-left: 100px;
}

.migratePanel {
  align-self: stretch;
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  align-items: flex-end;
}

.addModelContainer {
  display: flex;
}

.addModelButton {
  height: 40px;
}

#addModelText {
  width: 90px;
}

