html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
}

.databaseCards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20%;
  justify-content: center;
}

.dbCard {
  width: 170px;
  margin: 5px;
}

.migrationController {
  display: flex;
  flex-wrap: wrap;
}

.tableContainer {
  width: 50%;
  flex: 0 1 auto;
}
